<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El eco</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">La nueva mayoría</h2>
        <div class="story-text">

            <p>Los años dos mil quinientos estuvieron marcados por tribulaciones debido al ascenso de una nueva mayoría en el planeta: los transhumanos. Personas que habían modificado su cuerpo con partes robóticas, fusionando carne y máquina en su búsqueda de evolución. Se organizaron multitudinarias manifestaciones en pro de los derechos transhumanistas, lo que generó divisiones en la sociedad.</p>

            <p>X-300, anteriormente llamada Ana, era una de esas adolescentes revolucionarias. Sin embargo, no tenía el dinero ni el permiso de sus papás para costear sus transformaciones, y sus padres, profundamente tradicionales, no la apoyaban.</p>
            
            <p>—¡Estoy harta de que nadie me entienda! —gritó furiosa. Las peleas en su hogar eran constantes. Sus padres lo habían intentado todo, pero no lograban sacarle esas ideas de la cabeza—. ¡Imagínate un cuerpo que no se canse, que no sienta hambre! ¡Unos ojos que puedan verlo todo!</p>
            
            <p>—Ana, por favor... —suplicó su madre, visiblemente asustada.</p>
            
            <p>—¡No me llames Ana, soy X-300! —interrumpió enojada.</p>
            
            <p>Las discusiones siempre terminaban con Ana encerrada en su habitación. Hasta que, un día, decidió escapar. Se dirigió a los suburbios, al local de 636, un "mecha-doctor" pirata.</p>
            
            <p>—Hola, pequeña —dijo el hombre máquina al verla entrar. Llevaba puesto un delantal de carnicero cubierto de sangre. Su ojo derecho era una cámara, mientras que el izquierdo, azul y humano, era el que tenía desde que nació—. ¿Otra vez peleaste con tus padres, cierto?</p>
            
            <p>—Son unos estúpidos —respondió la joven con rabia—. No entienden nada, siempre me dicen que esto no es "cosa de Dios". ¡Dios! Por favor, estos cambios nos vuelven dioses.</p>
            
            <p>—Entiéndelos. Esto es nuevo para ellos. Pasó lo mismo con los tatuajes, las drogas y las cirugías plásticas. El tiempo llegará. Solo aguanta con ellos hasta que tengas dieciocho, y yo mismo te regalaré el brazo que tanto quieres.</p>
            
            <p>—¿Lo dices en serio? —preguntó la joven, con los ojos brillando de emoción.</p>
            
            <p>—Completamente. Pero quiero que me prometas algo —dijo 636, agachándose a la altura de la joven. La apuntó con un dedo robótico que comenzó a emitir una luz púrpura, iluminando su frente—. No quiero que sigas peleando con tus padres.</p>
            
            <p>X-300 cumplió su promesa. Incluso sus padres pensaron que alguien les había cambiado a su hija. Ana comenzó a sacar las mejores notas en el colegio. Sin embargo, en secreto, continuaba leyendo sobre el transhumanismo. Una de sus amigas, cuyos padres eran transhumanos, le regaló un libro: la biografía de MX-777, una transhumana que luchó y murió por los derechos transhumanistas.</p>
            
            <p>El libro narraba la historia de una mujer-máquina que defendía la idea de que los transhumanos solo buscaban una vida digna. No hacían daño a nadie, solo mejoraban lo que el creador les había dado.</p>
            
            <p>Ana creció, y su deseo de ser X-300 nunca desapareció. Finalmente, cumplió dieciocho años.</p>
            

            
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='ciberRevuelta.webp') }}" alt="ciberRevuelta" class="story-image">
        </div>
    </div>
</body>
</html>
