<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Día Que El Sol No Salió</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">El día que el sol no salió</h2>
        <div class="story-text">
            <p>Desperté despacio, con una sensación extraña de haber dormido como nunca. Todo estaba oscuro, un negro absoluto que me hizo dudar si aún era de noche. Extendí mi mano buscando el móvil que siempre dejo debajo de la almohada, para ver la hora. No encendía. Frustrado, me levanté tanteando en las sombras hasta dar con el interruptor de la luz. Lo activé, y nada. El bombillo permanecía apagado. Oscuridad absoluta.</p>

            <p>A ciegas, busqué en el desorden de mi cuarto un pantalón donde recordaba haber dejado mi encendedor. Después de tropezar con la esquina de la cama y maldecir entre dientes, lo encontré. Al prenderlo, la pequeña flama proyectó un parpadeo naranja que apenas iluminó lo justo para encontrar mis zapatos.</p>
            
            <p>Me acerqué a la ventana y el panorama me dejó sin aliento, de un momento a otro la calle comenzó a iluminarse. Mis vecinos salieron con vela en mano generando algo de luz a esa oscuridad aterradora. Sin pensarlo mucho, salí de mi apartamento y una de mis vecinas se acercó. Una flama temblorosa de vela reflejaba un rostro preocupado.</p>
            
            <p>—¿Nos atacaron, Jhonny? —preguntó con la voz temblorosa.</p>
            
            <p>Intenté encontrar alguna explicación en mi cabeza. Ayer, todo era normal. Un día cualquiera. Recordé cómo empezó la mañana.</p>
            
            <p>El despertador sonó a las seis en punto, como siempre, y el amanecer pintaba el cielo con tonos cálidos mientras yo saboreaba mi café. En las noticias salía el presidente de nuestros enemigos, amenazándonos, otra vez. Hace muchos meses que me dejó de importar esta guerra, de hecho nunca estuve de acuerdo. Muchas vidas para tan pocos pedazos de tierra.</p>
            
            <p>Me alisté con calma, preparándome para otro día en el trabajo y caminé hasta mi aburrido puesto en la carnicería.</p>
            
            <p>El día iba como cualquier otro hasta que apareció ella. La doctora. Dios, qué mujer. Su belleza era una sacudida en medio de la monotonía. La vi a lo lejos mientras trotaba, con gracia, pasando la calle. Su falda bailó con el viento y revelaba poco a poco sus hermosas piernas. Qué espectáculo. Una distracción peligrosa para alguien que trabaja con cuchillos.</p>
            
            <p>Entró a mi local de un salto y con esa sonrisa, capaz de iluminar hasta el día más gris.</p>
            
            <p>—Buenos días, querido Jhonny. —Qué voz. Así deben sonar los ángeles—. Dame lo de siempre.</p>
            
            <p>Lo de siempre eran pechugas de pollo sin hueso. Las alistaba mientras ella llenaba el lugar con su hermosa melodía. Me contaba sobre su vida. Hablaba de su horrible marido que no la escucha, de sus gatos y de sus travesuras, de su hijo adolescente. Escucharla era mi pequeña recompensa en un día de monotonía.</p>
            
            <p>De pronto la conversación tomó un giro diferente. Me habló de su trabajo. Me contó que era radióloga.</p>
            
            <p>—No tienes idea lo que me ha costado Jhonny. —Yo estaba terminando de sacarle el hueso a una pechuga y de vez en cuando levantaba mi mirada buscando los ojos de la Doc—. Me tocó terminar mi tesis al otro día a las diez de la mañana, sin dormir.</p>
            
            <p>A duras penas yo había terminado la primaria y comenzó a darme clase. Me explicó lo que eran los rayos X. Me habló de las ondas. Su voz se llenaba de pasión cuando me contó sobre radiación y cómo interactuaba con el cuerpo, su energía contagiosa me hizo olvidar por un momento mi trabajo, dejando el cuchillo sobre la otra pechuga sin moverlo. Miraba absorto a la Doc. Menos mal a esa hora no se llenaba casi, por lo que la Doc tuvo toda mi atención. Me tomé todo el tiempo del mundo con el último corte.</p>
            
            <p>Qué voz, así deben sonar los ángeles. Daba clases de física por las noches. Qué mujer. Mientras me hablaba comencé a entender que el mundo es más grande de lo que parecía desde mi rincón, en la carnicería. Estaba embelesado, cada palabra suya me atrapó. Dijo algo que me hizo un nudo en el estómago. Algo que ya había escuchado esta mañana por el televisor.</p>
            
            <p>—El enemigo ha encontrado la forma de apagar el sol de cualquier nación, Jhonny.</p>
            
            <p>Esta mañana la amenaza era que si no nos rendíamos una de nuestras ciudades dejaría de ver el sol. En ese momento mi mente se inundó de imágenes absurdas. Imaginé sombrillas gigantes, y la doctora, con su paciencia y seriedad, me sacó de mi fantasía.</p>
            
            <p>—No, Jhonny. Es un gas. Y no solo apaga la luz, también elimina la electricidad.</p>
            
            <p>Me explicó lo que sabía, o al menos lo que creía saber.</p>
            
            <p>—Se trata de un gas noble. Invisible, inodoro que actúa como un súper conductor y al entrar en contacto con los aparatos electrónicos, los inutiliza, colocándolos en corto al instante. Celulares, consolas de videojuegos, televisores, incluso los transformadores.</p>
            
            <p>Su explicación era fascinante y aterradora. Maldita guerra.</p>
            
            <p>—¿Quieres saber cómo funciona este gas para apagar el sol? —preguntó de repente. Yo estaba absorto y asentí lentamente—. Lo que pasa es que la estructura atómica de este gas es capaz de polarizar los rayos del sol, bloqueando su luz. Un “filtro atómico”.</p>
            
            <p>Mientras guardaba las pechugas en la bolsa, le mencioné a la Doc que no había entendido nada de lo que había dicho. Ahí conocí a la Doc profesora.</p>
            
            <p>—¿Qué no sabes qué es una estructura atómica? No te preocupes, en clase me gusta explicarlo de esta forma. —Ella se acercó a mi mesa pagándome con un billete grande. Seguía hablando—. Imagínate la luz como un proyectil. Tú ves el azul porque “el proyectil” se mueve de una forma que lo hace azul. La velocidad es la misma, pero la forma en la que se mueve es distinta. Bueno, resulta que el gas es capaz de mover estos “proyectiles” hasta un color que tus ojos interpretan como negro. Dejando en el lugar donde se esparza, penumbra absoluta.</p>
            
            <p>Nuestros enemigos cumplieron su amenaza y nuestra ciudad fue la elegida. Ahora estábamos sumidos en la oscuridad. Intentaba explicarle a mi vecina lo que la doctora me había contado. Usé las pocas palabras técnicas que recordaba.</p>
            
            <p>Mientras hablábamos, llegaron los carros del gobierno, viejos, oxidados, de otra época. Los policías llevaban lámparas de gasolina. Era como si estuviéramos atrapados en un relato medieval. La luz vacilante de las lámparas iluminaba las calles de mi humilde barrio.</p>
            
            <p>—¡Todos mantengan la calma! —gritaba un oficial—. ¡No estamos en peligro. Por favor, acérquense a los vehículos del gobierno. Los trasladaremos a las zonas iluminadas!</p>
            
            <p>En medio del tumulto vi que la Doc estaba al frente de uno de los coches policiales. Llevaba una pantaloneta de fútbol y un buso con un estampado curioso: "E=mc²".</p>
            
            <p>Caminé hacia ella, nervioso, con mi patético encendedor.</p>
            
            <p>—Te lo dije, querido Jhonny —dijo preocupada. Qué hermosa se veía bajo las luces amarillas. Así deben ser los ángeles.</p>
            
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='ElDiaSol1.webp') }}" alt="El Sol Oscurecido" class="story-image">
        </div>
    </div>
</body>
</html>
