<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B de Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .story-text {
            text-align: justify; /* Justifica el texto */
            margin-right: auto; /* Alinea el contenido a la izquierda */
            margin-left: 0; /* Asegura que esté pegado al lado izquierdo */
            width: 60%; /* Define un ancho para dejar espacio en la derecha */
        }
    </style>
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    <div class="container">
        <h2 class="story-title">EL DÍA QUE EL SOL NO SALIÓ</h2>
        <div class="story-text">
            <p>Abrí los ojos lentamente, dormí como nunca. No podía ver nada. Todo estaba oscuro, como si fuera de noche. Intenté ver la hora en mi móvil, pero no logré encenderlo. Me levanté buscando el interruptor del bombillo, lo activé y nada: el bombillo de mi cuarto no encendió. Torpemente, en la oscuridad, busqué un pantalón que tenía mi encendedor en uno de sus bolsillos. Sabía que estaba al lado de la cama porque siempre coloco allí la ropa. La flama iluminaba lo suficiente para encontrar mis zapatos. Al asomarme por la ventana, vi cómo la gente comenzaba a salir con velas. La calle se llenó de pequeños puntos amarillos. Salí de mi apartamento y una de mis vecinas se me acercó.</p>
        
            <p>—¿Nos atacaron, Jhonny? —dijo.</p>
        
            <p>Yo intenté buscar alguna explicación en mi mente. Tan solo ayer disfruté de un día normal en el trabajo.</p>
            <p>Como todas las mañanas, me levanté a las seis, mientras el amanecer asomaba por la ventana. Con mi café matutino en mano, me preparé para el trabajo. Caminé hasta mi aburrido puesto de carnes. Todo iba siendo un día como cualquier otro, hasta que la vi a lo lejos: la doctora. Oh, qué hermosa mujer. Siempre me compraba pechugas de pollo, y yo ya las estaba alistando. Venía en un trote que sacudía sus pechos mientras su falda bailaba, revelando sus fuertes piernas. Varias veces me he cortado observando ese espectáculo; por ahí tengo un par de cicatrices.</p>
            <p>Entró a mi local. Su sonrisa podía arreglarle el día a cualquiera.</p>
            <p>—Buenos días, querido Jhonny —su voz era como la de los ángeles.</p>
            <p>Siempre me contaba de su horrible marido, de sus hermosos gatos y de su rebelde hijo. Me decía que todos los días eran difíciles para ella, pero que siempre estaba agradecida. Yo siempre la escuchaba atentamente. Sé que su hijo nació en marzo y sé cómo se llaman sus cinco gatos.</p>
            <p>Ese último día de luz, me contó sobre su trabajo como radióloga y sobre todo lo que había estudiado para ejercerlo. Me habló de los rayos X, de las ondas, de las bombas atómicas. Era increíble. Por ejemplo, me explicó cómo la radiación afecta al cuerpo. También me enteré de que la doc era profesora de física en las noches. Qué mujer.</p>
            <p>La escuchaba con fascinación, y entonces dijo algo que me puso los pelos de punta:—El enemigo ha encontrado la forma de apagar el sol de cualquier nación.</p>
            <p>Entré en pánico. ¿Apagar el sol? ¿Acaso planeaban bloquear una nación con una sombrilla gigante?</p>
            <p>La hermosa doctora me explicó que se trataba de un arma que, además de dejar un país sin luz, también lo dejaría sin electricidad. Me describió cómo funcionaba, o bueno, cómo creía que funcionaba.</p>
            <p>—Se trata de un gas noble, Jhonny. Un gas que no se puede ni oler ni ver. Este gas, creado por el enemigo, es un súper conductor que, al entrar en contacto con los aparatos electrónicos, los hace entrar en corto circuito inmediatamente. Y no solo eso, el gas también es capaz de polarizar los rayos del sol.</p>
            <p>Las noticias de esa semana no eran buenas. La guerra estaba estancada, y ninguna de las dos naciones quería ceder su porción de tierra.</p>
            <p>Mientras terminaba de cortar las pechugas de la doc, en el televisor apareció el presidente de nuestros enemigos:</p>
            <p>"Si no se retiran, mañana una de sus ciudades dejará de ver la luz."</p>
            <p>Habían cumplido. Ahora estamos a oscuras.</p>
            <p>Le estaba explicando a Mary, más o menos, lo que me dijo la doc. Le contaba que los enemigos habían usado un gas denso que cubría nuestra ciudad. Traté de explicarle lo que entendí sobre el gas noble.</p>
            <p>Mientras hablábamos, llegaron los carros del gobierno. Eran vehículos antiguos, del siglo pasado, y los policías usaban lámparas de gasolina, como si estuvieran en un relato de hace quinientos años. Mi humilde barrio se iluminaba un poco más.</p>
            <p>"Todos mantengan la calma. No estamos en peligro. Queremos que cada uno de los residentes se acerque a los carros del gobierno. Los vamos a trasladar a las zonas iluminadas."</p>
            <p>Entre el tumulto, reconocí a la doc. Caminé hacia ella. Estaba al frente de un coche de policía, con su pantaloneta de fútbol de siempre y un buso con un estampado extraño: algo de fórmulas, probablemente "E=mc²".</p>
            <p>La saludé. Ella solo me miró preocupada.</p>
            <p>—Te lo dije, querido Jhonny.</p>
            <p>Qué hermosa se veía a la luz amarilla.</p>

 
        </div>
    </div>
</body>
</html>
