<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Día Que El Sol No Salió</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-media.css') }}" media="screen and (max-width: 767px)">
</head>
<body>
    <!-- Banner con menú integrado -->
    <header class="banner">
        <div class="banner-content">
            <h1 class="banner-title">B DE BLOG</h1>
            <nav class="banner-menu">
                <button class="menu-button" onclick="location.href='/'">Home</button>
                <button class="menu-button" onclick="location.href='/historias'">Historias</button>
                <button class="menu-button" onclick="location.href='/resenas'">Reseñas</button>
            </nav>
        </div>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">El día que el sol no salió</h2>
        <div class="story-text">
            
            <p>Desperté despacio, con una sensación extraña de haber dormido como nunca. Todo estaba oscuro, un negro absoluto que me hizo dudar si aún era de noche. Extendí mi mano buscando el móvil, que siempre dejo debajo de la almohada para ver la hora. No encendía. Frustrado, me levanté tanteando en las sombras hasta dar con el interruptor de la luz. Lo activé, y nada. El bombillo permanecía apagado. Oscuridad absoluta. </p>
            <p>A ciegas, busqué en el desorden de mi cuarto un pantalón donde recordaba haber dejado mi encendedor. Después de tropezar con la esquina de la cama y maldecir entre dientes, lo encontré. Al prenderlo, la pequeña flama proyectó un parpadeo naranja que apenas iluminó lo justo para encontrar mis zapatos. </p>
            <p>Me acerqué a la ventana y el panorama me dejó sin aliento, de un momento a otro la calle comenzó a iluminarse. Mis vecinos salieron con vela en mano generando algo de luz a esa oscuridad aterradora. Sin pensarlo mucho, salí de mi apartamento y una de mis vecinas se acercó. Una flama brillante y temblorosa reflejaba un rostro preocupado. </p>
            <p>—¿Nos atacaron, Johnny? —preguntó con la voz temblorosa. </p>
            <p>Intenté encontrar alguna explicación en mi cabeza. Ayer, todo era normal. Un día cualquiera. Empecé a recordar.  </p>
            <p>El despertador sonó a las seis en punto, como siempre, y el amanecer pintaba el cielo con tonos cálidos mientras yo saboreaba mi café mirando la TV. En las noticias salió el presidente de nuestros enemigos, amenazándonos, otra vez, era la tercera del año. Hace muchos meses que me dejó de importar. Nunca estuve ni estaré de acuerdo con esta guerra en la que estamos sumidos. Muchas vidas para tan pocos pedazos de tierra. Absurdo. Apagué la TV y me alisté con calma, preparándome para otro día en el trabajo. En la carnicería. </p>
            <p>El día iba como cualquier otro hasta que apareció ella. La doctora. Dios, qué mujer. Su belleza era una sacudida en medio de la monotonía. La vi a lo lejos mientras trotaba, con gracia, pasando la calle. Su falda bailaba con el viento mientras poco a poco sus hermosas piernas se iban revelando. Que espectáculo. Una distracción peligrosa para alguien que trabaja con cuchillos. </p>
            <p>Entró a mi local de un salto y con esa sonrisa, capaz de iluminar hasta el día más gris. </p>
            <p>—Buenos días, querido Johnny. —dijo. Que voz. Así deben sonar los ángeles—. Dame lo de siempre. </p>
            <p>Lo de siempre eran pechugas de pollo sin hueso. Yo Las alistaba mientras ella llenaba el lugar con su hermosa melodía. Siempre me contaba sobre su vida, de su horrible marido que nunca la escucha, de sus gatos y de sus travesuras, de su hijo adolescente. Escucharla era mi pequeña recompensa en un día de monotonía. Pero esa mañana de luz, la conversación tomó un giro diferente. La Doc Me habló de su trabajo. Me contó que era radióloga. Hubo momentos en los que paraba mis cortes para prestarle toda mi atención. Menos mal en la mañana el local es vacío. </p>
            <p>—No tienes idea lo que me costó serlo Johnny. —decía la Doc, mejor dicho, cantaba la Doc—. Me tocó terminar mi tesis al otro día a la diez de la mañana, sin dormir. </p>
            <p>A duras penas yo había terminado la primaria y comenzó a darme clase de rayos X y rayos Gamma. Me habló de las ondas. Su voz se llenaba de pasión cuando me contó sobre la radiación y de cómo interactuaba con el cuerpo, su energía contagiosa me hizo olvidar por un momento mi trabajo, dejando el cuchillo sobre la otra pechuga sin moverlo. Miraba absorto a la Doc. Me tomé todo el tiempo del mundo con el ultimo corte. </p>
            <p>Que voz así deben sonar los ángeles. Me contó que daba clases de física por las noches no por dinero sino por gusto. Entre lo que me contó entendí que el mundo es más grande de lo que parecía. Estaba embelesado, cada palabra suya me atrapaba y dijo algo que me hizo un nudo en el estómago. Algo que ya había escuchado esta mañana por la TV. </p>
            <p>—El enemigo ha encontrado la forma de apagar el sol de cualquier nación Johnny. </p>
            <p>Esta mañana la amenaza era que si no nos rendíamos una de nuestras ciudades dejaría de ver el sol. En ese momento mi mente se inundó de imágenes absurdas. Imaginé sombrillas gigantes aviones generando humo, de todo y la doctora, con su paciencia y seriedad, me sacó de la fantasía. </p>
            <p>—No, Johnny. Es un gas. Y no solo apaga la luz, también elimina la electricidad. —Me explicó lo que sabía, o al menos lo que creía saber—. Se trata de un gas noble. Invisible e inoloro que actúa como un súper conductor y al entrar en contacto con los aparatos electrónicos, los inutiliza, colocándolos en corto al instante. Celulares, consolas de videojuegos, televisores, incluso los transformadores de la luz municipal, quedarían destruidos. </p>
            <p>Su explicación era fascinante y aterradora. Maldita guerra. </p>
            <p>—¿Quieres saber cómo funciona este gas para apagar el sol? —preguntó de repente. Asentí lentamente. Impactado—. Lo que pasa es que la estructura atómica de este gas es capaz de polarizar los rayos del sol, bloqueando su luz… algo así como un “filtro atómico”. </p>
            <p>Mientras guardaba las pechugas en la bolsa. Le mencioné a la Doc que no había entendido nada de lo que había dicho. Ahí conocí a la Doc profesora. </p>
            <p>—¿Qué no sabes que es una estructura atómica? No te preocupes, en clase me gusta explicarlo de esta forma— Ella se acercó a mi mesa pagándome con un billete grande. Seguía hablando—. Imagínate la luz como un proyectil. Tu vez el azul porque “el proyectil” se mueve de una forma que lo hace azul. La velocidad es la misma pero la forma en la que se mueve es distinta. Bueno resulta que el gas es capaz de mover estos “proyectiles” hasta un color que tus ojos interpretan como negro. Dejando en el lugar en donde se esparza, una penumbra absoluta. </p>
            <p>Nuestros enemigos cumplieron su amenaza y nuestra ciudad fue la elegida. Ahora estábamos sumidos en la oscuridad. Intentaba explicarle a mi vecina lo que la doctora me había contado del gas. Usé las pocas palabras técnicas que recordaba. </p>
            <p>Mientras hablábamos, llegaron los carros del gobierno, viejos, oxidados, de otra época. Los policías llevaban lámparas de gasolina en sus manos, como si estuviéramos atrapados en un relato medieval. La luz vacilante de las lámparas comenzó a iluminar más las calles de mi humilde barrio. </p>
            <p>—¡Todos mantengan la calma! —Comenzó a gritar un oficial—. ¡No estamos en peligro! Por favor, acérquense a los vehículos del gobierno. ¡Los trasladaremos a las zonas iluminadas! </p>
            <p>En medio del tumulto vi que la Doc estaba al frente de uno de los coches policiales. Llevaba una pantaloneta de fútbol y un buso con un estampado curioso: "E=mc²". </p>
            <p>Caminé hacia ella, nervioso, con mi patético encendedor. </p>
            <p>—Te lo dije, querido Johnny —dijo preocupada. Que hermosa se veía bajo las luces amarillas.  </p>
            <p class="story-author">Ing. Wilson Felipe Martínez Barrantes.</p>
            
        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='ElDiaSol1.webp') }}" alt="El Sol Oscurecido" class="story-image">
        </div>
    </div>
</body>
</html>
