<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HISTORIAS</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">HISTORIAS</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>

    <!-- Menú principal debajo del banner -->
    <div class="menu">
        <h1 class="menu-title">HISTORIAS</h1>
        <button class="menu-button" onclick="location.href='/H_ElDiaQueElSol'">El día que el sol se no salió</button>
        <button class="menu-button" onclick="location.href='/H_eLEco'">El Eco</button>
        
    </div>

    <div class="container">
        <h2 class="story-title"></h2>
        <p class="story-text"></p>
    </div>
</body>
</html>
