<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frankenstein</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">Frankenstein</h2>
        <div class="story-text">
            <p>Frankenstein, la icónica novela de Mary Shelley, cuenta la historia de Victor Frankenstein, un científico obsesionado con desentrañar los secretos de la vida. En su búsqueda, crea un ser a partir de partes de cadáveres, pero, al ver el resultado, lo abandona por su apariencia monstruosa. La criatura, inicialmente inocente, sufre el rechazo de la sociedad, lo que la convierte en un ser vengativo.</p>
            <p>En general, me gustó la historia. Es cautivadora, pero quiero resaltar dos puntos que me llamaron la atención:</p>
            <p>Primero: ¿Por qué Víctor huyó?
                Víctor Frankenstein, un brillante científico, obsesionado con crear vida. Pero no cualquier vida: quería un ser consciente y autónomo. El libro presenta el escenario donde Víctor logra su objetivo. ¡Sin embargo, al ver a su creación, sale huyendo.</p>
            <p>¡HUYENDO! ¿Cómo alguien que alcanzó lo que tanto deseaba puede reaccionar así? Deja sola a su creación, sin pensar en las consecuencias. ¿Acaso no se le ocurrió que esto podría ser peligroso? Es como abandonar a un bebé en el mundo. Víctor Frankenstein era un cobarde.
                El primer recuerdo del monstruo es el de un hombre flaco, mirándolo con miedo y huyendo. Su segundo recuerdo es una habitación vacía.</p>
            <p>La historia dice que Víctor se fue y, al regresar, ya no encontró a nadie. Me gusta imaginar qué hizo el monstruo en ese intervalo de tiempo. Desde sus primeros segundos de vida, debió empezar a razonar. Tal vez se preguntó: ¿Quién era ese hombre que salió corriendo? Luego sintió el frío de la mesa en la que estaba y trató de moverse. Al darse cuenta de que podía, exploró cada paso y articulación, construyendo sus propios movimientos.</p>
            <p>Imagino que levantarse de la mesa fue su primer gran logro. Aprender a caminar debió ser un reto, algo que a un humano promedio le toma dos años. Probablemente se tambaleó, apoyándose en las paredes, reconociendo texturas y objetos a su alrededor. Mientras interactuaba con el ambiente, pudo haber sentido soledad y decidió buscar al hombre que lo había abandonado.</p>
            <p>El monstruo era noble y muy inteligente, pues en la obra indica que se aprendió a comunicar deduciendo las acciones de las personas con el sonido de las palabras. Amaba la vida y a los humanos. Lamentablemente, su aspecto era aterrador: un gigante lleno de cicatrices, demacrado y con dientes grandes. Cuando intenta conectar con una familia, logra acercarse al miembro ciego, pero los demás lo atacan, temiendo que les haga daño. La criatura vuelve a sentirse sola. Decide buscar a su creador.</p>
            <p>Segundo: ¿Por qué el monstruo buscó a su creador?
                Quiero que se pongan en los zapatos del monstruo, alguien que, en menos de un mes de vida, experimenta el golpe de la soledad. Ahora, pregúntense: ¿qué motivo tendría para buscar a su creador?</p>
            <p>La respuesta es clara: tenía un objetivo. Quería hacerle una petición. Quería que Víctor le creara una mujer, una compañera que lo aceptara tal como era. El monstruo deseaba lo que cualquier ser humano anhela: amor y compañía.</p>
            <p>Lamentablemente, el cobarde científico destruye su laboratorio antes de darle vida a esta "abominación". Pero, ¿qué habría pasado si la mujer hubiera cobrado vida?</p>
            <p>Aquí les dejo la pregunta a ustedes, lectores:
                ¿Se habría quedado con el monstruo, formando una familia? ¿O quizá se habría enamorado del propio Víctor?
                </p>
            <p>Calificación final ⭐⭐⭐⭐ (4/5)</p>

        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='frankenstein.webp') }}" alt="El Sol Oscurecido" class="story-image">
        </div>
    </div>
</body>
</html>
