<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un mundo felíz</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-media.css') }}" media="screen and (max-width: 767px)">
</head>
<body>
    <!-- Banner con menú integrado -->
    <header class="banner">
        <div class="banner-content">
            <h1 class="banner-title">B DE BLOG</h1>
            <nav class="banner-menu">
                <button class="menu-button" onclick="location.href='/'">Home</button>
                <button class="menu-button" onclick="location.href='/historias'">Historias</button>
                <button class="menu-button" onclick="location.href='/resenas'">Reseñas</button>
            </nav>
        </div>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">Un mundo felíz</h2>
        <div class="story-text">
            
            <p><strong>¿Cómo te imaginas un mundo feliz?</strong></p>

            <p>¿Un mundo libre de violencia? ¿Un mundo justo? Aldous Huxley nos plantea una visión inquietante de ese "mundo feliz", un futuro que, lejos de ser utópico, se acerca peligrosamente a nuestra realidad.</p>
            
            <p>En esta sociedad perfectamente controlada, desde la infancia se moldea a los individuos mediante un constante bombardeo mediático y condicionamientos que los alejan de lo verdaderamente importante: la libertad, la conciencia y el pensamiento crítico.</p>
            
            <p><em>Un mundo feliz</em> no es una distopía cualquiera, es una advertencia disfrazada de perfección. Nos muestra cómo, bajo la apariencia de armonía y orden, puede esconderse una forma sutil pero profunda de opresión.</p>
            
            <p>Calificación final:<br>
            ⭐⭐⭐⭐⭐ (5/5)</p>
            <p class="story-author">Ing. Wilson Felipe Martínez Barrantes.</p>

        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='MundoFeliz.png') }}" alt="mundoFeliz" class="story-image">
        </div>
    </div>
</body>
</html>
