<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frankenstein</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">For whom the bell tols</h2>
        <div class="story-text">

            <p>Una historia épica ambientada en el contexto de la Guerra Civil Española. Ernest Hemingway nos sumerge en una España convulsa, donde compatriotas se enfrentan entre sí en una lucha fratricida. La ventaja tecnológica de los sublevados es aplastante: cuentan con aviones, mejores armas y combatientes mejor preparados.</p>

            <p>La historia nos presenta a Robert, un profesor y dinamitero —vaya mezcla— que forma parte de las llamadas brigadas internacionales, voluntarios que apoyaban al bando que quería mantener la democracia.</p>

            <p>El argumento sigue la vida de Robert en la guerra mientras planea la detonación de un puente, una acción que, en el gran esquema de las cosas, parece inútil, ya que conocemos el desenlace de la guerra. Eso es precisamente lo que hace que la historia sea más poderosa ya que la historia decidió que ganara la dictadura de Franco así que desde el inicio del libro, sabemos que nuestro protagonista está en el bando perdedor.</p>

            <p>Los personajes son variados, y si tuviera que escoger uno, me quedaría con el viejo Anselmo. Un hombre que odia la guerra y la muerte, pero que aun así lucha por proteger a sus camaradas.</p>

            <p>La historia de María también es desgarradora, y sé que Hemingway podría haberla hecho aún más brutal. Sin embargo, logra mostrar la verdadera cara de la guerra y lo vulnerables que somos cuando empezamos a ser juzgados por nuestras ideas.</p>

            <p>Ernest Hemingway es un maestro de los recursos narrativos. En este libro encontrarás escenas que te estremecerán, te harán gritar y, quizás, llorar. Un drama bélico imperdible.</p>

            <p>Calificación final ⭐⭐⭐⭐⭐  (5/5)</p>

        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='fwtbt.webp') }}" alt="El Sol Oscurecido" class="story-image">
        </div>
    </div>
</body>
</html>
