<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frankenstein</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='guyfox.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="banner" onclick="location.href='/#menu'">
        <h1 class="banner-title">B DE BLOG</h1>
        <img src="{{ url_for('static', filename='guyfox.webp') }}" alt="Blog Logo" class="banner-image">
    </header>
    
    <div class="container">
        <h2 class="story-title">Frankenstein</h2>
        <div class="story-text">
            <p>Mary Shelley nos sumerge en la mente caótica de Víctor Frankenstein, un científico que logra lo impensable: crear vida. Ahora bien, imagina el impacto que esto conlleva. Víctor, en su descuido, abandona a su creación desde sus primeros días en el mundo, creyendo que podía simplemente olvidarse de ella. Sin embargo, el monstruo, tiempo después, lo buscó. Y aquí surge la pregunta para ustedes, lectores: ¿Por qué creen que el monstruo decidió buscar a su creador?</p>
            <p>Responderemos a esta pregunta más adelante. Primero, quiero que se pongan en los zapatos del monstruo por un momento. En menos de un mes de vida, experimentó la soledad más desgarradora. Su propio creador lo olvidó, dejándolo solo y atrapado en un mundo desconocido. Según Mary Shelley, el monstruo escapó del laboratorio, y al principio, era un ser noble. Se sintió atraído por una familia que vivía en una cabaña. Uno de los miembros de la familia era ciego, y fue gracias a esta circunstancia que el monstruo pudo acercarse. Entre ellos se forjó una breve relación de amistad.</p>
            <p>El monstruo, además de noble, demostró ser inteligente. Aprendió el idioma humano interpretando los sonidos y relacionándolos con acciones. Pero mientras hablaba con el hombre ciego, la familia los interrumpió y, aterrada, atacó al monstruo. Este ser, que jamás había tenido la intención de hacer daño ni a ellos ni a ningún ser humano, sufrió una experiencia traumática que marcó un punto de inflexión en su vida.</p>
            <p>A partir de ese momento, el monstruo comenzó a sentirse profundamente solo y abandonado. Sobrevivió alimentándose de lo que encontraba en el bosque, pero su soledad se volvió insoportable. Finalmente, tomó una decisión: buscar a su creador para hacerle una petición.</p>
            <p>El monstruo deseaba lo que cualquier ser humano anhela: amor y compañía. Le pidió a Víctor que le creara una compañera, alguien como él, que lo aceptara tal y como era.</p>
            <p>¿Habrá cumplido Víctor esta petición?</p>
            <p>Ahí lo dejo para que descubran el desenlace en esta obra clásica imprescindible. Personalmente, la sentí como una versión retorcida de los primeros capítulos del Génesis. Una lectura altamente recomendada que no debería faltar en tu lista.</p>
            
            <p>Calificación final ⭐⭐⭐⭐⭐  (5/5)</p>

        </div>

        <div class="image-container">
            <img src="{{ url_for('static', filename='frankenstein.webp') }}" alt="El Sol Oscurecido" class="story-image">
        </div>
    </div>
</body>
</html>
